@import "media-queries";

$highlight: #fdbb0a;
$accent: #484444;

p:not(.logo-font),
a,
h1,
h2,
h3,
h4,
h5:not(.usp-title),
h6,
label {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 400;
    letter-spacing: -0.5px;
}

p.logo-font{
    font-family: 'Black Ops One';
}

.row>*{
    padding-right: calc(var(--bs-gutter-x) * .8)!important;
    padding-left: calc(var(--bs-gutter-x) * .8)!important;
}

.text-highlight {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

h5.usp-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fdbb0a;
    margin-bottom: 10px;
}

.h2-highlight {
    font-weight: 600;
    text-decoration: underline;
    color: $accent;
}

a:active,
a:focus {
    color: $highlight !important;
}

h2.display-4 {
    color: $highlight;
}

.display-4 {
    line-height: 5.5rem !important;
}

p.cover {
    color: $highlight;
    font-weight: 300;
    font-size: 1.2rem;
    width: 400px
}

h1.display-4 {
    font-size: 80px;
    font-weight: 500;
    letter-spacing: -2.5px;
    color: white !important;

    @include bs-mobile {
        font-size: 60px;
        line-height: 4rem !important;
    }

    @include bs-tablet {
        font-size: 90px;
    }
}

.jumbotron {
    background: url('/assets/bg-vector-scaled.jpg');
    background-position: center;
    width: 100%;
    background-position-y: 0px;

    @include desktop-up {
        padding-bottom: 75px;
    }

    @media(min-width:320px) and (max-width: 991px) {
        background-position: 25%;
    }
}

h2.display-4.intro {
    padding-top: 30px;
    font-weight: 400;

    @include desktop-up {
        line-height: 4rem !important;
    }

    @include below-desktop {
        line-height: 3rem !important;
    }

    @include bs-mobile {
        font-size: 28px
    }
}

img.cover-image {
    width: 500px;
    clip-path: circle(50%);

    @include bs-mobile {
        width: 300px
    }

    @include bs-tablet {
        width: 450px;
    }
}

.col.cover {
    padding-bottom: 100px;

    @include bs-mobile {
        padding-top: 50px;
    }
}

.col.cover-image {
    text-align: center;

    @include bs-tablet {
        padding-top: 0px;
        margin-bottom: 80px;
    }
}

@media (min-width: 992px) {
    .row.cover-content {
        margin-right: 0px;
    }
}

button.btn.btn-primary.px-4.mx-auto, button#reset-button {
    appearance: none;
    background-color: $highlight;
    border: 2px solid $highlight;
    border-radius: 5px !important;
    height: 50px;
    line-height: 0.5px !important;
    box-sizing: border-box;
    color: $background !important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    min-width: 0;
    outline: none;
    padding: 13px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;

    &:disabled {
        pointer-events: none;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    }

    &:active {
        box-shadow: none;
        transform: translateY(0);
    }
}

button.btn.btn-primary.px-4.mx-auto.cta p,
button.btn.btn-primary.px-4.mx-auto.form-button p, button#reset-button p{
    margin-top: 10px;
    font-weight: 400 !important;
    font-family: 'Work Sans', sans-serif !important;
    position: relative; 

    &:hover {
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -10px;
            left: 0;
            background-color: $accent; 
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

div.card {
    border: none !important;
}

.success-message {
    color: white;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1070px !important;
    }
}

.usp-three-col {
    margin-top: 40px;
}