@import "media-queries";

$highlight: #fdbb0a;

p:not(.logo-font),
a, 
h1, h2, h3, h4, h5, h6, label {
    font-family: 'Almarai', sans-serif!important;
    font-weight: 500;
}

a:active,
a:focus {
  color: $highlight!important;
}

h2.display-4 {
    color: $highlight;
}

.display-4{
    line-height: 5.5rem !important;
}

p.cover {
    color: $highlight;
    font-weight: 300;
    font-size: 1.2rem;
}

h1.display-4 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -2.5px;
    color: white!important;

    @include bs-mobile {
        font-size: 60px;
        line-height: 4rem!important;
    }

    @include bs-tablet {
        font-size: 90px;
    }
}

.jumbotron {
    background: url('/assets/bg-vector-scaled.jpg');
    background-position: center;
    width: 100%;
    background-position-y: 0px;
    @include desktop-up{
        padding-bottom: 75px;
    }

    @media(min-width:320px) and (max-width: 991px){
        background-position: 25%;
    }
}

h2.display-4.intro {
    padding-top: 30px;
    font-weight: 400;
    @include desktop-up{
        line-height: 4rem!important;
    }
    @include below-desktop{
        line-height: 3rem!important;
    }

    @include bs-mobile{
        font-size: 28px
    }
}

img.cover-image {
    width: 500px;
    clip-path: circle(50%);

    @include bs-mobile {
        width: 300px
    }

    @include bs-tablet {
        width: 450px;
    }
}

.col.cover {
    padding-bottom: 100px;

    @include bs-mobile{
        padding-top: 50px;
    }
}

.col.cover-image {
    text-align: center;

    @include bs-tablet {
        padding-top: 0px;
        margin-bottom: 80px;
    }
}

.container.usp {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 992px) {
    .row.cover-content {
        margin-right: 0px;
    }
}

button.btn.btn-primary.px-4.mx-auto{
    appearance: none;
    background-color: $highlight;
    border: 2px solid $highlight;
    border-radius: 5px!important;
    height: 50px;
    line-height: 0.5!important;
    box-sizing: border-box;
    color: $background!important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;

    &:disabled {
        pointer-events: none;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }   

    &:active {
        box-shadow: none;
        transform: translateY(0);
    }
}

button.btn.btn-primary.px-4.mx-auto.cta {
    margin-top: 0px; 
 }  

div.card{
    border: none !important;
}

.success-message{
    color: white;
}

  @media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1070px!important;
    }
}

.usp-three-col{
    margin-top: 40px;
}