$highlight: #fdbb0a;
$background: #202528;
$accent: #484444;

.form-group {
    padding: 10px !important
}

.form-control {
    font-family: 'Work Sans', sans-serif !important;
}

h2.display-4.form.intro {
    text-decoration: underline;
    text-decoration-thickness: 5px !important;
    text-decoration-color: $background;
    font-size: 3rem;
    padding-top: 0px;
    padding-bottom: 25px;
}

.form-control {
    padding: 5px 7px 5px 7px !important
}

.row {
    .contact-box {
        padding-left: 0px !important;
    }
}

h1.form-h1 {
    margin-bottom: 20px;
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: $highlight;
}

input[type="file"] {
    padding: 20px 0px 10px 0px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.success-message {
    color: #000;
    font-size: 1.1rem;
    text-align: center;
     i {
        color: $highlight;
        text-align: center;
    }
}

.image-success img{
    padding-bottom: 40px;
}

.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-control:focus,
textarea.form-control:focus {
    border-bottom: 1px solid $highlight
}

.contact-form {

    input:not([type="file"]),
    textarea {
        border: none;
        border-bottom: 1px solid $background;
        border-radius: 0px;
    }

    input:focus {
        border-bottom: 1px solid $highlight;
    }

    & * button {
        margin: 20px;
    }

    & label {
        color: $highlight !important;
        padding: 10px 0 5px 0;
        font-weight: 700;
    }

    h3 {
        color: $highlight;
        padding: 20px 0 20px 0;
    }

}

button.form-button{
    min-width: 100%!important;
    p{
        max-width: fit-content;
        display: inherit;
    }
}

.container.mx-auto.success{
    padding: 45px;
}

.contact-form-columns, .container.mx-auto.success {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

input[required]::after {
    content: 'required';
}

span.input-group-addon:not(.message) {
    display: flex;
    align-items: center;
}

span.input-group-addon.message {
    display: flex;
    align-items: flex-start;
}

i.fa-solid.fa-square-envelope {
    padding-top: 10px;
}

.form-image{
    @media(max-width: 767px){
        margin-top: -25px!important;
    }
}

.col-md-4.contact-img {
    background-image: url(http://dbwppro.local/wp-content/uploads/2023/04/contact-cropped.jpg);
    background-size: contain;
    min-height: 200px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.form-group.row.two,
.form-group.row.one {
    margin-top: -20px !important;
}

form#contact-form {
    font-family: 'Almarai', sans-serif !important;
}