@import "media-queries";

$highlight: #fdbb0a;
$accent: #484444;

.single-post{
    margin: 200px 0px 0px 0px;

    p:not(logo-font){
        line-height: 2.5rem;
        font-size: 1.1rem; 
        font-weight: 300;
    }

    .header{
        margin-bottom: 200px;
    }

hr {
    border: none;
    border-top: 2px solid black;
    margin: 30px 0; 
    width: 50px;
}

        h1{
            font-weight: 800;

            @include desktop-up{
                font-size: 5rem;
                line-height: 4rem
            }
            @include below-desktop{
                font-size: 2rem
            }
        }
        .post-meta{
            display: block;
            color: $accent;
            font-size: 1.9rem;
            line-height: 1.9rem;
            font-weight: 600;
            width: 100%;
        }

    .post-excerpt{
        font-size: 2rem;
        display: block;
        padding: 30px;
        line-height: 2.5rem;
        font-weight: 400;

        &:before, &:after{
            content: '"';
        }
    }

    .post-meta-heading{
        color: $highlight;
        font-weight: 300;

        @include desktop-up{
        font-size: 1.7rem;
        }

        @include below-desktop{
        font-size: 1.3rem;
        }

        &:has(strong){
            font-weight: 400!important;;
        }
    }
}

img.img-fluid.wp-post-image {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.single-post article{
    @include desktop-up{
        padding: 100px;
    }
}