.card-header {
    background: none!important;
    border: none!important;

    img{
        width: 250px
    }
}

.container.usp {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-body{
    text-align: center;

    i{
        color: #484444;
    }
}

.card{
    flex-direction: column;
    align-items: center;
}

p.card-text.card-title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffbc34;
}

.card-text a{
    color: #484444;
}