.card-header {
    background: none!important;
    border: none!important;

    img{
        width: 250px
    }
}

.container.usp {
    padding-top: 50px;
    padding-bottom: 25px;
}

.card-body{
    text-align: center;
}

.card{
    flex-direction: column;
    align-items: center;
}